.option-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #343434;
  //padding: 0 15px;
  cursor: pointer;
  padding: 0 15px;

  & + .option-wrapper {
    padding-top: 25px;
  }

  .body {
    opacity: 0.5;
    font-size: 14px;
    line-height: 19px;
  }

  &:hover {
    .body {
      opacity: 1;
    }
  }

  .close-icon {
    .cross-icon(rgba(52, 52, 52, 1));
  }
}