.search {
  &-component {
    height: 100%;
  }

  &-in {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    @media @tbmb {
      padding-top: 16px;
      align-items: flex-start;
    }

    .search-block {
      position: relative;
      background-color: #FFFFFF;
      border-radius: 3px;
      overflow: hidden;


      input {
        width: 415px;
        padding: 10px 15px;
        line-height: 19px;
        font-size: 14px;
        height: 40px;
        border: none;
        background-color: inherit;
        border-bottom: 1px solid rgba(52, 52, 52, .5);;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        outline: 1px solid transparent;

        &::placeholder {
          font-family: 'Open Sans', sans-serif;
        }
      }

      .search-icon {
        position: absolute;
        top: 12px;
        right: 14px;
        width: 16px;
        height: 16px;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .cities-block {
        display: flex;
        flex-direction: column;
        padding: 15px 0 21px 0;
      }

      .favorite-city-block {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgba(52, 52, 52, .5);;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        padding: 15px 0;
      }

      .weather-info {
        text-align: left;
        padding: 10px 15px;
        font-size: 14px;
        line-height: 19px;
      }

      @media @tbmb {
        & {
          width: 100%;

          input {
            width: 100%;
          }
        }

      }
    }
  }
}